/*  laptop & pc*/
@media (min-width:1025px){
  

}

/* ipad Pro */
@media (max-width:1024px){
    .four-tab .tab-item .item-boarder .row-1 h2 i {
        font-size: 35px;
       
    }
    .four-tab .tab-item .item-boarder .Day-bar h2 i{
        text-align: center;
        font-size: 18px;
        
    }
 

}

@media (max-width:900px) {

    .admin-header>.head-content>#menu-button{
        display: none;
        
}
.four-tab .tab-item .item-boarder .row-1 h2 i {
    font-size: 32px;
    
}
.four-tab .tab-item .item-boarder .Day-bar h2 i{
    text-align: center;
    font-size: 17px;
    
}


}

/* ipad */
@media (max-width:768px) {
    
  
    .four-tab .tab-item .item-boarder .row-1 h2 i {
        font-size: 30px;
       
    }
    .four-tab .tab-item .item-boarder .Day-bar h2 i{
        text-align: center;
        font-size: 17px;
       
    }
 

    


}

/* 500 */
@media (max-width:500px)  {
  

}

/* all mobile */
@media (max-width:375px) {

  
  

}