.admin-edit{
  width: 40px;
  height: 40px;
  background-color: var(--color-c-black);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: var(--shadow-c-white );
  color: var(--color-c-white);
}
.admin-edit i{
    font-weight: normal;
}

