<section class="home-container">
    <div class="admin-login">
        <div class="signin">
            <div class="header">
                <img src="/images/icons/nsa-icon.png" alt="nsa-logo">
                <h4>Forgot password</h4>
            </div>
            <div id="enter-otp" class="content">
                <form action="/admin/checkOTP" method="post">
                    <div class="info-note">
                        <p class="">Forgot password otp has been sent to your <span>{{result.EmailId}}</span> account. Enter below.
                        </p>
                    </div>
                    <label for="">Enter OTP</label>
                    <input type="text" name="EmailId" value="{{result.EmailId}}" hidden>
                    <input type="text" name="Otp" class="text-input" required >
                    
                    <button class="btn-lg">Submit</button>
                </form>
            </div>
         
        </div>


    </div>
</section>
