<section class="home-container">
    <div class="admin-login">
        <div class="signin">
            <div class="header">
                <img src="/images/icons/nsa-icon.png" alt="nsa-logo">
                <h4>Forgot password</h4>
            </div>
            <div id="enter-email" class="content">
                <form action="/admin/check-email" method="post">
                    <div class="info-note">
                        <p class="">Enter admin panel e-mail address. After that, Get the OTP through the e-mail
                            you receive.
                            After change password</p>
                    </div>
                    <label for="">Enter email</label>
                    <input id="Email" type="email" name="EmailId" class="text-input" required>
                    <button class="btn-lg">Submit</button>
                </form>
            </div>
            
        </div>


    </div>
</section>

