<h1 style="margin-top: 100px;">This Admin Page</h1>
{{#if Success}}
<div class="admin-alert">
    <div class="alert-box success-alert">
        <div>
            <div class="icon">
                <div>
                    <i class="bi bi-check-circle-fill"></i>
                </div>
            </div>
            <div class="message">
                <h5> {{Success}}</h5>
            </div>
            <i class="bi bi-x"></i>
            <audio autoplay hidden src="/audio/alert/01.mp3"></audio>

        </div>
    </div>
</div>
{{/if}}