{{!-- active button --}}
<script>
    var current = document.getElementById('Home').className = "main-item active-main"
</script>

{{!-- --}}
<div id="admin-container" class="admin-container">
    <div id="loading-gif" style="display: none;" class="loading-gif">
        <img src="/images/gif/image_processing20200121-10388-3alhh1.gif" alt="">
    </div>
    {{#if activation}}
    <div class="info-bar activation-bar" style="justify-content:center ;">
        <div class="col1">
            <h5><i class="bi bi-check2-circle"></i> Activation complited !
            </h5>
        </div>
        
    </div>
    {{else}}
    <div class="info-bar activation-bar">
        <div class="col1">
            <h5><i class="bi bi-exclamation-triangle-fill"></i> First, click the Activate button to active all pages
            </h5>
        </div>
        <div class="col2">
            <Button class="btn-sm" id="active-button" onclick="activation()">Activate</Button>
        </div>
    </div>
    {{/if}}
    <div class="add-button-top" style="margin-top:15px ;">
       <a href="/admin/signout"> <button type="button" style="background-color:var(--color-red-1) ;" class="btn-lg"><i style="font-size:18px ;" class="bi bi-box-arrow-left"></i>
            Sign Out</button> </a>
    </div>

</div>

<script>
    function activation() {
        let button = document.getElementById('active-button')
        let gif = document.getElementById('loading-gif')
        gif.style.display = 'flex'
        button.innerHTML = "wait"
        $.ajax({
            url: '/admin/activation-site',
            data: {

            },
            method: 'post',
            success: (response) => {
                gif.style.display = 'none'
                button.innerHTML = "Activated"
            }
        })
    }
</script>