<section class="admin-header">
  <div class="logo">
    <a href="/admin"> <img src="/images/icons/nsa-online-n-w-2.png" alt="NSA logo"> </a>
  </div>
  <div class="head-content">
    <span data-title="Sidebar" id="menu-button" class="icon-div" onclick="menuChange()"><i
        class="bi bi-menu-app-fill"></i></span>
    {{#if ThemeError}}  {{else}} <span data-title="Change theme"
      id="theme-button" class="" onclick="tooDark()">{{#if nsaWebDarkTheme}}<i
        class="bi bi-brightness-high-fill"></i>{{else}}<i class="bi bi-moon-fill"></i>{{/if}}</span> {{/if}}
  </div>
</section>


<script>

  function menuChange() {

    var MenuButton = document.getElementById('menu-button');
    var sideBar = document.getElementById('side-bar');
    var container = document.getElementById('admin-container')

    if (MenuButton.innerHTML == '<i class="bi bi-menu-app-fill"></i>') {
      MenuButton.innerHTML = '<i class="bi bi-menu-button-fill"></i>'
    } else {
      MenuButton.innerHTML = '<i class="bi bi-menu-app-fill"></i>'
    }

    sideBar.classList.toggle("little-bar")
    container.classList.toggle('little-container')

  }

</script>



<script>


  function tooDark() {

    let Ontheme = null
    var theme = document.getElementById('theme-change')
    var button = document.getElementById('theme-button')

    if (theme.className === "Light") {
      // To dark
      theme.href = '/stylesheets/root/dark-theme.css'
      button.innerHTML = '<i class="bi bi-brightness-high-fill"></i>'
      theme.className = "Dark"
      Ontheme = "Dark"

    } else {
      // To Light
      button.innerHTML = '<i class="bi bi-moon-fill"></i>'
      theme.href = '/stylesheets/root/light-theme.css'
      theme.className = "Light"
      Ontheme = "Light"
    }

    $.ajax({
      url: '/change-theme',
      data: {
        theme: Ontheme
      },
      method: 'post',
      success: () => {

      }
    })

  }

</script>