<footer>
    <div class="home-container">
        <div class="user-footer">
            <div class="top">
                <div class="section-one">
                    <div>
                        <img src="/images/icons/nsa-online.png" alt="nsa-logo">
                        <div class="icons">
                            <a href="mailto:nsamajmaakvr@gmail.com" target="_blank" data-title="G mail"><i
                                    class="bi bi-envelope-fill"></i></a>
                            <a href="http://fest.nsaonline.in" target="_blank" data-title="Fest result"><i
                                    class="bi bi-award-fill"></i></a>
                            <a href="https://www.youtube.com/channel/UCGfpDbNkMgIW5e6pHbaBmxg" target="_blank"
                                data-title="Youtube channel"><i class="bi bi-youtube"></i></a>
                            <a href="https://www.facebook.com/nsamajma/" target="_blank" data-title="Facebook page"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/nsa_majmaa_kvr/?hl=en" target="_blank"
                                data-title="Instagram"><i class="bi bi-instagram"></i></a>
                            <a href="" target="_blank" data-title="Whatsapp"><i class="bi bi-whatsapp"></i></i></a>
                            <a href="https://t.me/NoorulHudaStudentsAssociation" target="_blank"
                                data-title="Telegram channel"><i class="bi bi-telegram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="section-two">
                    <div>
                        <h3>Noorul huda Students' Association (NSA)</h3>
                        <p>Noorul huda Students Association , generally abbreviated as NSA , is a student union of
                            Majma'a Shareeath and Arts College students. It is governed by annually elected delegates
                            from students of the campus under the entire control of an advisory board.Our direction and
                            ideas are led by our teachers and student members. We’re called the Students’ Union because
                            that’s what we are; a union of students. It’s the issues that matter to students that drive
                            us. Here, students can feel assured that their views count, their voice is strong, and
                            together we’ll use them to make student life even better.</p>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div>
                    <p>Copyright © 2021 - <span id="thisYear"> </span> NSAOnline. All Rights Reserved</p>
                    <a href=""><p>Created by : Dreams_art</p></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    const d = new Date();
    let year = d.getFullYear();
    document.getElementById('thisYear').innerHTML = year;
    document.getElementById('thisYear2').innerHTML = year;
</script>