<header>

  <a href="/" class="logo"><img src="/images/icons/nsa-online-n-w-2.png" alt="NSA Logo"></a>

  <div id="navigation">
    <ul class="menu" id="menu">
      <div class="close-btn">
        <a href="/" class="logo"><img src="/images/icons/nsa-online-n-w-2.png" alt="NSA Logo"></a>
      </div>

      <li class="menu-item"><a href="/#home">Home</a></li>
      <li class="menu-item">
        <span class="sub-btn">College <i class="fas fa-angle-down"></i></span>
        <ul class="sub-menu">
          <li class="sub-item"><a href="/our-teachers">Our Teachers</a></li>
          <li class="sub-item"><a href="/our-leaders">Our Leaders</a></li>
          <li class="sub-item"><a href="/our-faculty">Our Faculty</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <span class="sub-btn" href="#">Union <i class="fas fa-angle-down"></i></span>
        <ul class="sub-menu">

          <li class="sub-item more" style="">
            <a class="" href="/nsa">NSA </a><i class="fas fa-angle-right more-btn"></i>
            <ul class="more-menu">
              <li class="more-item"><a href="/nsa/fine-arts">Fine arts</a></li>
              <li class="more-item"><a href="/nsa/library-board">Library board</a></li>
              <li class="more-item"><a href="/nsa/literary-wing">Literary wing</a></li>
              <li class="more-item"><a href="/nsa/social-affairs">Social affairs</a></li>
              <li class="more-item"><a href="/nsa/medical-board">Medical board</a></li>
              <li class="more-item"><a href="/nsa/pro-itnob">PRO & It nob</a></li>
              <li class="more-item"><a href="/nsa/research-cell">Research cell</a></li>
              <li class="more-item"><a href="/nsa/garden-committee">Garden committee</a></li>
            </ul>
          </li>

          <li class="sub-item more">
            <a class="" href="/skssf">SKSSF </a><i class="fas fa-angle-right more-btn"></i>
            <ul class="more-menu">
              <li class="more-item"><a href="/skssf/fund">Fund</a></li>
              <li class="more-item"><a href="/skssf/store">Store</a></li>
            </ul>
          </li>

          {{!-- <li class="sub-item"><a href="/nsa/class-unions">Class unions</a></li> --}}
        </ul>
      </li>
      <li class="menu-item">
        <span class="sub-btn" href="">Updates <i class="fas fa-angle-down"></i></span>
        <ul class="sub-menu">
          {{!-- <li class="sub-item"><a href="/notifications">Notifications</a></li> --}}
          <li class="sub-item"><a href="/news">News</a></li>
          <li class="sub-item"><a href="/status-frame">Status frame</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <span class="sub-btn" href="">About <i class="fas fa-angle-down"></i></span>
        <ul class="sub-menu">
          <li class="sub-item"><a href="/gallery">Gallery</a></li>
          <li class="sub-item"><a href="/contact-us">Contact us</a></li>
          <li class="sub-item"><a href="/subscribe">Subscribe</a></li>

        </ul>
      </li>
      <li class="menu-item" onclick="tooDark()" title="Change theme">
        <span style="cursor: pointer ;" class="sub-btn" id="theme-button"> {{#if nsaWebDarkTheme}}<i
            class=" bi bi-brightness-high-fill"></i>{{else}}<i class="bi bi-moon-fill"></i>{{/if}} Theme </span>
      </li>

      {{!-- <li class="menu-item"><a href="" ><i class="bi bi-search search-name"></i></a></li> --}}

    </ul>


  </div>
  <div class="menu-btn"></div>
</header>


<script type="text/javascript">
  //jquery for toggle dropdown menus
  $(document).ready(function () {
    //toggle sub-menus
    $(".sub-btn").click(function () {
      $(this).next(".sub-menu").slideToggle();
    });

    //toggle more-menus
    $(".more-btn").click(function () {
      $(this).next(".more-menu").slideToggle();
    });
  });

  //javascript for the responsive navigation menu
  var menu = document.querySelector(".menu");
  var menuBtn = document.querySelector(".menu-btn");
  var closeBtn = document.querySelector(".close-btn");

  menuBtn.addEventListener("click", () => {

    menu.classList.add("active");
  });

  closeBtn.addEventListener("click", () => {
    menu.classList.remove("active");
  });

  //javascript for the navigation bar effects on scroll
  window.addEventListener("scroll", function () {
    var header = document.querySelector("header");
    header.classList.toggle("sticky", window.scrollY > 0);
  });
</script>

<script>
  var light = document.getElementById('light')
  var dark = document.getElementById('dark')
  var theme = document.getElementById('theme-change')
  var div = document.getElementById('theam-icon')


  function toLight() {
    theme.href = '/stylesheets/root/light-theme.css'
    light.className = 'sub-item nav-active'
    dark.className = 'sub-item  '
    div.className = 'bi bi-brightness-high-fill'

    $.ajax({
      url: '/change-theme',
      data: {
        theme: "light"
      },
      method: 'post',
      success: () => {
        alert('change')
      }
    })

  }



  function toDark() {

    theme.href = '/stylesheets/root/dark-theme.css'
    dark.className = 'sub-item nav-active'
    light.className = 'sub-item'
    div.className = 'bi bi-moon-fill'

    $.ajax({
      url: '/change-theme',
      data: {
        theme: "dark"
      },
      method: 'post',
      success: () => {
        alert('change')
      }
    })

  }


</script>

<script>


  function tooDark() {

    let Ontheme = null
    var theme = document.getElementById('theme-change')
    var button = document.getElementById('theme-button')

    if (theme.className === "Light") {
      // To dark
      button.innerHTML = '<i class="bi bi-brightness-high-fill"></i> Theme'
      theme.href = '/stylesheets/root/dark-theme.css'
      theme.className = "Dark"
      Ontheme = "Dark"

    } else {
      // To Light
      button.innerHTML = '<i class="bi bi-moon-fill"></i> Theme'
      theme.href = '/stylesheets/root/light-theme.css'
      theme.className = "Light"
      Ontheme = "Light"
    }

    $.ajax({
      url: '/change-theme',
      data: {
        theme: Ontheme
      },
      method: 'post',
      success: () => {

      }
    })

  }

</script>