<section class="our-teacher">
    <div class="main-title title-image">

        <h1>Our teachers</h1>
    </div>
</section>
<section class="container">
    <div class="four-profile">
        {{!-- 50% --}}
        <div class="profile fifteen-profile" >
            <div>
                <div class="image">
                <img src="/images/profiles/1.jpeg" alt="profile">
                </div>
                <div class="content">
                <h4>Full Name </h4>
                <p>- Position -</p>
                <hr>
                <p>Address</p>
                <p>Mobile</p>
                </div>
            </div>
        </div>
        <div class="profile fifteen-profile" >
            <div>
                <div class="image">
                <img src="/images/profiles/1.jpeg" alt="profile">
                </div>
                <div class="content">
                <h4>Full Name </h4>
                <p>- Position -</p>
                <hr>
                <p>Address</p>
                <p>Mobile</p>
                </div>
            </div>
        </div>
        {{!-- 25% --}}
        <div class="profile">
            <div>
                <div class="image ">
                <img src="/images/profiles/1.jpeg" alt="profile">
                </div>
                <div class="content">
                <h4>Full Name </h4>
                <p>- Position -</p>
                <hr>
                <p>Address</p>
                <p>Mobile</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <div>
                <div class="image">
                <img src="/images/profiles/1.jpeg" alt="profile">
                </div>
                <div class="content">
                <h4>Full Name </h4>
                <p>- Position -</p>
                <hr>
                <p>Address</p>
                <p>Mobile</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <div>
                <div class="image">
                <img src="/images/profiles/1.jpeg" alt="profile">
                </div>
                <div class="content">
                <h4>Full Name </h4>
                <p>- Position -</p>
                <hr>
                <p>Address</p>
                <p>Mobile</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <div>
                <div class="image">
                <img src="/images/profiles/1.jpeg" alt="profile">
                </div>
                <div class="content">
                <h4>Full Name </h4>
                <p>- Position -</p>
                <hr>
                <p>Address</p>
                <p>Mobile</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <div>
                <div class="image">
                <img src="/images/profiles/1.jpeg" alt="profile">
                </div>
                <div class="content">
                <h4>Full Name </h4>
                <p>- Position -</p>
                <hr>
                <p>Address</p>
                <p>Mobile</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <div>
                <div class="image">
                <img src="/images/profiles/1.jpeg" alt="profile">
                </div>
                <div class="content">
                <h4>Full Name </h4>
                <p>- Position -</p>
                <hr>
                <p>Address</p>
                <p>Mobile</p>
                </div>
            </div>
        </div>
        
        
    </div>
</section>