<section class="container">
    <div class="subscribe-user">
        <div class="boarder">
            <div class="descri">
                <h4>Join our team !</h4>
                <p>Enter your email address to join our team. Our confirmation mail will be sent to your email address
                    shortly.</p>
            </div>
            <div class="button-area">
                <form action="/subscribe" method="post">
                    <input type="email" class="text-input" name="EmailId" placeholder="Enter Email Address">
                    <button class="btn-lg">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </div>
</section>