{{!-- active button --}}
<script>
    var current = document.getElementById('Union').className = "main-item active-main"
</script>


{{!--  --}}

<section id="admin-container" class="admin-container">
    <div class="headding">
        <div>
            <i class="bi bi-flag-fill"></i>
            <h4>SKSSF</h4>
        </div>
    </div>
    {{!-- The Skssf --}}
    <div class="main-list">
        <div class="list-div" data-title="SKSSF About">
            <a href="/admin/skssf/skssf-about">
                <div class="list" style="border:2px solid;  border-color:dodgerblue;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>SKSSF <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="SKSSF Members">
            <a href="/admin/skssf/skssf-members">
                <div class="list" style="border:2px solid; border-color:dodgerblue;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>SKSSF <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="SKSSF Links">
            <a href="/admin/skssf/skssf-links">
                <div class="list" style="border:2px solid; border-color:dodgerblue;">
                    <div class="icon">
                        <i class="bi bi-link-45deg"></i>
                    </div>
                    <div class="title">
                        <h5>SKSSF <b>Links</b></h5>
                    </div>
                </div>
            </a>
        </div>
        {{!-- Fund --}}
        <div class="list-div" data-title="Fund About">
            <a href="/admin/skssf/fund-about">
                <div class="list" style="border:2px solid; border-color:darkred;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>Fund <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="Fund Members">
            <a href="/admin/skssf/fund-members">
                <div class="list" style="border:2px solid; border-color:darkred;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>Fund <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>

         {{!-- Store --}}
        <div class="list-div" data-title="Store About">
            <a href="/admin/skssf/store-about">
                <div class="list" style="border:2px solid; border-color:chartreuse;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>Store <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="Store Members">
            <a href="/admin/skssf/store-members">
                <div class="list" style="border:2px solid; border-color:chartreuse;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>Store <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>

       
       

        
       
        

    </div>
</section>

