:root{
    /* color */
    --background-color : rgb(255, 255, 255);
    --color-one : rgb(1, 38, 87);
    --color-one-light1:  rgb(1, 57, 131);
    --color-one-light2: rgb(5, 78, 173);
    --color-white : white;
    --color-white-light1 : rgba(255, 255, 255, 0.658);
    --color-red: rgb(212, 25, 0);
    --color-dark : #000116;
    --color-c-white-light1: rgba(255, 255, 255, 0.37);
    --color-c-white: white;
    --color-c-black: black;
    --color-c-dark : rgb(56, 56, 56);
    --color-two : rgb(61, 114, 0);
    --header-line-color : rgba(110, 110, 110, 0.404);
    --color-c-green-light1 : rgb(116, 148, 56);
    --color-c-blue : rgb(1, 57, 131);


    /* shadow */
    --shadow-c-white : 0 5px 25px rgb(0 0 0 / 20%);
    --shadow-white : 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}