/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.gallery .section {
    width: 25%;
}

.gallery .section .item {

    margin: 8px;
    position: relative;
    overflow: hidden;


}

.gallery>.section>.item>img {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--color-c-black-opacity-7);
    cursor:zoom-in;
}
.gallery>.section>.item:hover .gallery-overly{
    opacity: 1;
    transition-property: transform, opacity;
}

.gallery-overly {
    
    position: absolute;
    z-index: 2;
    bottom: 4px;
    background-color: var(--color-c-black-opacity-7) ;
    border-radius: 0 0 10px 10px;
    width: 100%;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    opacity: 0;
}

.gallery-overly>h5 {
    word-wrap: break-word;
    color: var(--color-c-white);
}

/* Gallery One */

.gallery-one{
    background-color: var(--color-black-opacity-9);
    position: fixed;
    z-index: 14;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    display: none;
   
    
}
.gallery-one .border{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: zoom-out;
}
.gallery-one .border img{
    
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    max-height: 80vh;
    max-width: 90%;
    
}
.gallery-one .border>div>div{
 
   display: flex;
   justify-content: center;
 
}
.gallery-one .border h3{
    color: var(--color-rose-light-3);
    text-align: center;
    margin-top: 5px;
}

.gallery-one .border p{
    margin-top: 5px;
    color: var(--color-white);
    text-align: center;
    font-weight: normal;
    word-wrap: break-word;
    
}
.gallery-one .icon{
    
    position: absolute;
    top: 50px;
    right: 50px;
}
.gallery-one .icon i{
    font-size: 30px;
    color: var(--color-white);
    z-index: 15;
    cursor: pointer;
}

/* Contact us */

.contact-us{
    display: flex;
    width: 100%;
    box-shadow: var(--shadow-c-white2);
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    padding: 10px;
}
.contact-us>div{
    width: 50%;
}
.contact-us .about hr{
    width: 95%;
    margin-left: 2%;
    border-color: var(--color-c-white-light-3);
}
.contact-us .about .header{
    display: flex;
    align-items: center;
    padding: 15px;
   
}
.contact-us .about .header img{
    width: 100px;
}
.contact-us .about .header div{
    margin-left: 10px;
}
.contact-us .about .header div h3{
    color: var(--color-rose-light-3);
}
.contact-us .about .header div h5{
    font-weight: normal;
    color: var(--color-c-white-light-10);
}
.contact-us .about .links{
   
    padding: 15px;
    position: relative;
}
.contact-us .about .links p i{
    font-size: 20px;
    margin-right: 10px; 
    color: var(--color-c-black);
}
.contact-us .about .links p {
    margin-bottom: 5px;
    color: var(--color-c-black);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-c-white-light-3);
}


.contact-us .message{
    padding: 15px;
    border-left: 1px solid var(--color-c-white-light-3);
}
.contact-us .message form{
    margin-top: 10px;
}
.contact-us .message input{
    width: 100%;
    margin-bottom: 20px;
}
.contact-us .message textarea{
    min-height: 180px;
    max-height: 180px;
    max-width: 100%;
    min-width: 100%;
}
.contact-us .message button>i{
    margin-right: 10px;
}
.contact-us .message button{
    float: right;
    background-color: var(--color-rose-light-1);
    color: var(--color-white);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 10px;
    transition-property: transform, opacity;
}

#google-map{
    width: 100%;
    height: 300px;
}

.copyright{
    display: flex;
    justify-content: space-between;
   
}
.copyright h5{
    font-weight: normal;
    color: var(--color-c-black);
}

