footer{
    background-color: var(--color-black-light-3);
}

.user-footer .top {
    display: flex;
    padding-top: 30px;
}

.user-footer .top .section-one {
    width: 30%;
    display: flex;
    justify-content: center;

}
.user-footer .top .section-one div .icons{
   
    display: flex;
    justify-content: center;
}
.user-footer .top .section-one div .icons a i{
    margin-right: 3px;
    margin-left: 3px;
    font-size: 17px;
    color: var(--color-white);

}
.user-footer .top .section-one div img{
    width: 180px;
}

.user-footer .top .section-two {
    width: 70%;
 
}
.user-footer .top .section-two div h3 {
    font-weight: 600;
    margin-bottom: 7px;
    color: var(--color-white);
    
}
.user-footer .top .section-two div p {
    text-align: justify;
    color: var(--color-white);
    font-weight: 300;
    line-height: 22px;
}
.user-footer .bottom div{
    display: flex;
    padding-top: 20px;
    border-top: solid 1px var(--color-white);
    opacity: .5;
    justify-content: space-between;
    margin-top: 10px;
    color: var(--color-white);
    font-style: italic;
    font-weight: 200;
    
}

.user-footer .bottom div a{
    color: var(--color-white);
    font-style: italic;
    opacity: .6;
    font-weight: 200;
   
}


/* Subscribe */

.footer-subscribe-user{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.footer-subscribe-user .boarder .descri{
    text-align: start;
    
  }

.footer-subscribe-user .boarder .button-area input{
    width: 300px;
    margin-top: 20px;
}
.footer-subscribe-user .boarder .button-area button{
    background-color: var(--color-rose-light-1);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    color: var(--color-white);
}