

  
  .slider{
    position: relative;
    background: var(--color-dark);
    width: 100%;
    height: auto;
    overflow: hidden;
    
  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider .slide .info{
    position: absolute;
    color: var(--color-c-black);
    background: var(--color-c-white-light1);
    width: 50%;
    bottom: 70px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  }
  
  .slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
  }
  
  .slider .slide .info p{
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
  }
  
  .navigation{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 2;
    font-size: 2em;
    color: var(--color-c-black);
    background: var(--color-c-white-light1);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 1;
    display: flex;
    justify-content: center;
    
  }
  
  .navigation-visibility .slide-icon{
    z-index: 1;
    background:var(--color-c-white-light1);
    width: 10px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    
    border-radius: 50px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}
  
  .navigation-visibility .slide-icon.active{
    background: var(--color-one);
  }
  
  @media (max-width: 900px){
    .slider{
      width: 100%;

    }
  
    .slider .slide .info{
    position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;

    
      
    }
  }
  
  @media (max-width: 500px){
    .slider .slide .info h2{
      font-size: 1.8em;
      line-height: 40px;
    }
  
    .slider .slide .info p{
      font-size: 0.9em;
    }
  }
      

  /* Contents  */
  .content-div{
    padding-top: 20px;
    border-bottom: 1px dashed var(--header-line-color);
    padding-bottom: 20px;
    position: relative;
  }
  .content-div .header{
    font-family: "Poppins";
    font-weight: bold;
    color: var(--color-c-dark);
    position: relative;
  }
  .content-div .header-line{
    width: 100%;
    height: 1px;
    background-color: var(--header-line-color);
    bottom: 5px;
    position: absolute;
  }

  .content-div .header .first-word{
    color: var(--color-two);
    font-family: "Poppins";
    font-weight: bold;

  } 

  .content-div  p{
    color: var(--color-c-black);
    text-align: justify;
    line-height: 1.5;
    text-indent: 50px;
  }

  /* four links */

  .four-links{
    width: 100%;
    margin-top: 20px;
    position: relative;
    
    
  }

  .four-links .link-div{
    background-color: var(--color-two);
    color: var(--color-white);
    border: 10px solid var(--background-color);
    text-align: center;
    width: 25%;
    float: left;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 200px;
    
}
  .four-links .link-div i{
    font-size: 45px;
    border: solid 2px var(--color-white);
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
  .four-links .link-div h4{
    margin-top: 20px;
  }
  .four-links :hover{
    opacity: .95;
  }

  /* news updates */

  .news-div{
    display: flex;
    flex-wrap: wrap;
  }
  .news-div .news-item{
    width: 25%;
    padding: 15px;

  }
  .news-div .news-item img{
    width: 100%;
    overflow: auto;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.news-div .news-item h4{
  margin-top: 10px;
  text-align: center;
  color: var(--color-c-blue);
  font-family: "Gayathri";
  font-weight:bold;
  
}
.news-div .news-item p{
  margin-top: 10px;
  text-align: justify;
  line-height: 1.5;
  text-indent: 0;
  font-family: "Gayathri";
  font-weight:bold;

}
.news-div .news-item button{
  margin-top: 15px;
}
.seemore{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
