/*  laptop & pc*/
@media (min-width:1025px) {}

/* ipad Pro */
@media (max-width:1024px) {
  .news-div .news-item {
    width: 50%;


  }

  .content-div .header::after {
    content: "";

    bottom: 9px;

  }


}

@media (max-width:900px) {

  .user-footer .top {
    display: block;

  }

  .user-footer .top .section-one {
    width: 100%;

  }

  .user-footer .top .section-two {
    width: 100%;
    margin-top: 25px;

  }

  .user-footer .top .section-two div h3 {
    text-align: center;

  }

  .user-footer .bottom div {
    display: block;
    text-align: center;
  }

  .user-footer .bottom div a {
    margin-top: 8px;
  }

  .gallery .section {
    width: 33.33%;
  }

  .gallery-one .border img{
    max-height: 350px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    max-width: 700px;
}

.contact-us{
  display: block;
  
}

.contact-us>div{
  width: 100%;
}
.contact-us .message{
  padding: 15px;
  border-left: none;
  border-top: 1px solid var(--color-c-white-light-3);
}

.contact-us .message div{
  display: flex;
  justify-content: end;
}

.contact-us .message button{
  float: none;
  
}

#google-map{
  width: 100%;
  height: 250px;
}


}

/* ipad */
@media (max-width:768px) {

  .four-links {
    display: block;
    margin-top: 20px;
    width: 100%;
  }

  .four-links .link-div {

    display: flex;
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: auto;

  }

  .four-links .link-div i {
    font-size: 20px;
    border: none;
    padding: none;
  }

  .four-links .link-div h4 {
    margin-left: 20px;
    margin-top: 0;

  }

  .demmi-div {
    display: none;
  }

  .content-div .header::after {
    content: "";

    bottom: 8px;

  }

  .news-one-item>div>div>img {
    width: 100%;
    height: 300px;

  }

  .gallery .section {
    width: 50%;
  }

  .gallery-one .border img{
    max-height: 80%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    max-width: 500px;
}

#google-map{
  width: 100%;
  height: 200px;
}





}

/* 500 */
@media (max-width:500px) {
  .news-div .news-item {
    width: 100%;
    padding: 0;
    padding-top: 15px;

  }

  .seemore a {
    width: 100%;
  }

  .news-one-item>div>div>img {
    width: 100%;
    height: 250px;

  }

  .gallery .section {
    width: 100%;
  }

  .gallery-one .border img{
    max-height: 80%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    max-width: 100%;
}

.contact-us .message button{
  float: none;
  width: 100%;
  transition-property: transform, opacity;
}


#google-map{
  width: 100%;
  height: 150px;
}

.copyright{
  display: block;
  
 
}
.copyright h5{
  text-align: center;
}

}

/* all mobile */
@media (max-width:375px) {

  .content-div .header::after {
    content: "";

    bottom: 6px;

  }

  .news-one-item>div>div>img {
    width: 100%;
    height: 150px;

  }




}