{{!-- active button --}}
<script>
    var current = document.getElementById('more').className = "main-item active-main"
</script>

{{!-- --}}
<section id="admin-container" class="admin-container">
    <div class="ask-border">
        <div class="ask-div">
            <a href="mailto:shibilyofficial@gmail.com" target="_blank">
                <div class="button" style="background-color: rgb(0, 89, 255);">
                    <i class="bi bi-google"></i>
                    <p>Connect with G-mail</p>
                </div>
            </a>
            <a href="https://wa.me/+919567148324" target="_blank">
                <div class="button" style="background-color: rgb(0, 128, 85);">
                    <i class="bi bi-whatsapp"></i>
                    <p>Connect with Whatsapp</p>
                </div>
            </a>
            <a href="https://t.me/shibily_muhammed" target="_blank">
                <div class="button" style="background-color: rgb(0, 109, 128);">
                    <i class="bi bi-telegram" ></i>
                    <p>Connect with Telegram</p>
                </div>
            </a>
            <span>
                <div  class="button" >
                    <small style="text-align: center; color:var(--color-c-black)">Created by : <br>IRIS FAMILY (Batch 2014 - 2022)</small>
                </div>
            </span>
        </div>
    </div>
</section>