
    {{!-- <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre> --}}
    <div class="Error">
            <div>
                <img src="/images/icons/Error-img.png" alt="">
                <h3>Pange not Found</h3>
                <a href="/" ><button class="btn-md hover-fill-rose">Go to Website</button></a>
            </div>
    </div>
    
