<section id="admin-container" class="admin-container">
    <div class="main-list">
        <div class="list-div">
            <a href="/admin/first-page/slider">
                <div class="list">
                    <div class="icon">
                        <i class="bi bi-aspect-ratio-fill"></i>
                    </div>
                    <div class="title">
                        <h5>Slider</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div">
            <a href="/admin/first-page/the-nsa">
                <div class="list">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>The Nsa</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div">
            <a href="/admin/first-page/the-majma">
                <div class="list">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>The Majma'a</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div">
            <a href="/admin/first-page/links">
                <div class="list">
                    <div class="icon">
                        <i class="bi bi-link-45deg"></i>
                    </div>
                    <div class="title">
                        <h5>Links</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div">
            <a href="/admin/first-page/day-bar">
                <div class="list">
                    <div class="icon">
                        <i class="bi bi-balloon-heart"></i>
                    </div>
                    <div class="title">
                        <h5>Day bar</h5>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</section>

{{!-- active button --}}
<script>
    var current = document.getElementById('first-page').className = "main-item active-main"
</script>