<section id="admin-container" class="admin-container">
    <div class="headding">
        <div>
            <i class="bi bi-stack"></i>
            <h4>Our faculty</h4>
        </div>
    </div>
    <div class="main-list">
        <div class="list-div">
            <a href="/admin/our-faculty/pre">
                <div class="list">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>Preparatory</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div">
            <a href="/admin/our-faculty/ug">
                <div class="list">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>UG</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div">
            <a href="/admin/our-faculty/pg">
                <div class="list">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>PG</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div">
            <a href="/admin/our-faculty/pg-hod">
                <div class="list">
                    <div class="icon">
                        <i class="bi bi-person-video3"></i>
                    </div>
                    <div class="title">
                        <h5>HOD</h5>
                    </div>
                </div>
            </a>
        </div>

    </div>
</section>

{{!-- active button --}}
<script>
    var current = document.getElementById('College').className = "main-item active-main"
</script>