
.edit-icon-content{
    top: 15px;
    right: 15px;
    position: absolute;
    z-index: 1;
}
 .edit-boarder {
    border: 2px dotted var(--color-c-black) !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
} 
.edit-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--color-c-black);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-c-white);
}
/* Alert */
.admin-alert{
    
    bottom: -50px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 15;

}
.admin-alert>.alert-box{
    position: relative;
    width: 600px;
    height: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: var(--shadow-c-white);
    overflow: hidden;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    animation: admin-alert 4s  ease-in;
    -webkit-animation: admin-alert 4s  ease-in;
}
.admin-alert>.alert-box>div{
    display: flex;
    align-items: center;
   
    height: 100%;
}
.admin-alert>.alert-box>div>.icon>div{
    width: 30px;
    height: 30px;
    opacity: .9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-right: 10px;
}
.admin-alert>.alert-box>div>.icon>div>i{
    font-size: 24px;
    margin-left: .5px;  
    margin-top: 1px;  
}
.admin-alert>.alert-box>div>.message{
    width: 90%;
    opacity: .85;
   
    
}
.admin-alert>.alert-box>div>.message>h5{
    font-size:small;
}
.admin-alert>.alert-box>div>i{
    position: absolute;
    right: 7px;
    opacity: .7;
    cursor: pointer;

}
/* Headding */
.headding{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 10px;
}
.headding>p{
    font-size: 13px;
    margin-left: 10px;
    font-style: italic;
    color: var(--color-c-rose-yellow-light-3);
}
.headding>div{
    background-color: var(--color-c-rose-yellow-light-3);
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.headding>div>h4{
    color: var(--color-c-white);
    font-weight: normal;
    font-size: 15px;
}
.headding>div>i{
    color: var(--color-c-white);
    margin-right: 5px;
}

/* Paragraph content Editor*/
.summery{
    width: 100%;
}
.summery input{
    width: 100%;
    margin-bottom: 15px;
}
.summery textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 70px;
    max-height: 250px;
    margin-bottom: 15px;

}
.summery label{
    font-weight: bold;
    margin-left: 7px;
}
.summery .add-button{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    border: solid 1px var(--color-c-black-opacity-5);
    margin-bottom: 15px;
    
}
.summery .add-button>label{
    font-weight: normal;
}
.summery .add-button>label {
    font-weight: normal;
}
.summery .buttons{
    display: flex;
    justify-content: end;

}
.summery .buttons>button{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
}
.summery .buttons :nth-child(1),.summery .buttons :nth-child(2){
    background-color: var(--color-rose-light-2);
    color: var(--color-white);
}
.summery .buttons :last-child{
    background-color: var(--color-green-1);
    color: var(--color-white);
    width: 150px;
}
.summery label>span{
    margin-left: 15px;
    background-color: var(--color-red-1);
    padding: 2px 4px 2px 3px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    color: var(--color-c-white);
    cursor: pointer;
}

/* Edit profile */
.edit-profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.edit-profile>.profile{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    position: relative;
    width: 220px;
}
.edit-profile>.profile img{
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: var(--shadow-c-white);
    background: url(/images/profiles/1.jpg) ;
}
.edit-profile>.profile:hover .profile-overly{
    opacity: 1;
    
}
.edit-profile>.profile h5{
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}
.edit-profile>.profile h6{
    font-weight: normal;
    text-align: center;
    margin-top: 3px;
}
.edit-profile>.profile .profile-overly{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 100px;
    left: 10px;
    border-radius: 0 0 12px 12px;
    -webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    -ms-border-radius: 0 0 12px 12px;
    -o-border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: center;
    align-items: end;
    box-shadow: inset 1px -80px 40px -10px var(--color-c-white-light-1);
    overflow: hidden;
    opacity: 0;
    transition-property: transform, smooth;
}
.edit-profile>.profile .profile-overly div{
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    background-color: var(--color-c-black);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    color: var(--color-c-white);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.edit-profile>.profile .profile-overly .remove{
    background-color: var(--color-red-1);
}
.edit-profile>.profile .add-profile-button{
    background-color: var(--color-white-2);
    width: 200px;
    height: 200px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-c-white);
    cursor: pointer;
}
.edit-profile>.profile .add-profile-button div{
   text-align: center;
}
.edit-profile>.profile .add-profile-button div>i{
   font-size: 60px;
}
.edit-profile>.profile .add-profile-button div>h5{
   font-weight: 600;
   font-size: 16px;
}

/* Edit profile  content settings */

#profile-model .model>.content>form{
    display: flex;
}
#profile-model .model>.content>form>.image{
    width: 200px;
    height: fit-content;
    position: relative;  
}
#profile-model .model>.content>form>.image>img{
    width: 200px; 
}
#profile-model .model>.content>form>:last-child{
    margin-left: 15px;
    margin-top: 0;
}
#profile-model .model>.content>form>div>textarea{    
    border: solid 1px var(--color-c-black-opacity-5);
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 50px;
}
#profile-model .model>.content>form>div>input{
    margin-bottom: 10px;
}
#profile-model .model>.content>form>div>label{
    margin-left: 8px;
    color: var(--color-c-black);  
}
#profile-model .model>.content>form>div>label>span{
   font-size: 11px;
   font-style: italic;
   color: var(--color-c-rose-yellow-light-3);
    
}

/*  Confirm box */

.confirm-box-div{
    width: 100%;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items:flex-start;
    top: 0;
    display: none;
    z-index: 15;
    cursor:not-allowed;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    
   
    
}
.confirm-box{
   cursor:auto;
   width: 300px;
   height: auto;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   box-shadow: var(--shadow-c-white-3);
   margin-top: 60px;
   animation-name: openConfirmBox ;
   animation-duration: 1s;
   
}
.confirm-box>.title{
    background-color: var(--color-c-white-light-3);
    color: var(--color-c-black);
   text-align: center;
   border-radius: 10px 10px 0 0;
   -webkit-border-radius: 10px 10px 0 0;
   -moz-border-radius: 10px 10px 0 0;
   -ms-border-radius: 10px 10px 0 0;
   -o-border-radius: 10px 10px 0 0;
   padding: 25px 10px 25px 10px;
   overflow: hidden;
   border-bottom: 1px solid var(--color-c-black-opacity-3);

}
.confirm-box>.title>i{
   font-size: 40px; 
   color: var(--color-c-rose-yellow-light-3);
}
.confirm-box>.title>p{
    margin-top: 15px;
}

.confirm-box>.footer{
  display: flex;
  
}

.confirm-box>.footer :first-child{
  width: 50%;
  border-bottom-left-radius: 10px;
  font-weight: normal;
  background-color: var(--color-blue-light-8);
  border-right:  1px solid var(--color-c-black-opacity-3);
  color: var(--color-white);

}
.confirm-box>.footer :last-child{
    width: 50%; 
    border-bottom-right-radius: 10px;
    font-weight: normal;
    background-color: var(--color-c-white-light-3);
    color: var(--color-c-black);
 
}

.info-note{
    background-color: var(--color-c-black-opacity-2);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.info-note>p{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.add-button-2{
    background-color: var(--color-c-black);
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--color-c-white);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
}
.add-button-2>i{
    font-size: 22px;
    margin-right: 7px;
}