.edit-icon-carousel{
    top: 500px;
    right: 25px;
    position: absolute;
    z-index: 1;
}


.edit-icon-content{
    top: 15px;
    right: 15px;
    position: absolute;
    z-index: 1;
}
/* .edit-boarder {
    border: 2px dotted var(--color-c-black) !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
}  */