
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat","Poppins",sans-serif;
}

body{
    margin: 0;
    
    background-color: var(--color-white-2);
    box-sizing: border-box;
    font-family: "Montserrat","Poppins",sans-serif;
    min-width: 275px;
}

a {
    text-decoration: none;
}

.container{
    padding: 0;
    padding-left: 7%;
    padding-right: 7%;
    
    padding-bottom: 20px;

}
.home-container{
    padding: 0;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 20px;

}

figure{
    margin: 0;
}

::selection {
    color: var(--color-white);
    background: var(--color-c-rose-light-6);
  }

  ::-moz-selection { /* Code for Firefox */
    color: var(--color-white);
    background: var(--color-c-rose-light-6);
  }



  
  [data-title] {
    position: relative;
  }
  
  [data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: -26px;
    display: inline-block;
    padding: 6px 9px;
    border-radius: 2px;
    background: var(--color-dark);
    color:var(--color-white);
    font-size: 13px;
    font-family: sans-serif;
    white-space: nowrap;
  }
  [data-title]:hover::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 8px;
    display: inline-block;
    color: var(--color-white);
    border: 8px solid transparent;	
    border-bottom: 8px solid var(--color-dark);
  }

