{{!-- active button --}}
<script>
    var current = document.getElementById('Union').className = "main-item active-main"
</script>


{{!--  --}}

<section id="admin-container" class="admin-container">
    <div class="headding">
        <div>
            <i class="bi bi-diagram-3-fill"></i>
            <h4>NSA</h4>
        </div>
    </div>
    {{!-- The Nsa --}}
    <div class="main-list">
        <div class="list-div" data-title="NSA About">
            <a href="/admin/nsa/nsa-about">
                <div class="list" style="border-color:dodgerblue;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>NSA <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="NSA Members">
            <a href="/admin/nsa/nsa-members">
                <div class="list" style="border-color:dodgerblue;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>NSA <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="NSA Links">
            <a href="/admin/nsa/nsa-links">
                <div class="list" style="border-color:dodgerblue;">
                    <div class="icon">
                        <i class="bi bi-link-45deg"></i>
                    </div>
                    <div class="title">
                        <h5>NSA <b>Links</b></h5>
                    </div>
                </div>
            </a>
        </div>
        {{!-- Fine arts --}}
        <div class="list-div" data-title="Fine arts About">
            <a href="/admin/nsa/fine-arts-about">
                <div class="list" style="border-color:darkred;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>Fine arts <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="Fine arts Members">
            <a href="/admin/nsa/fine-arts-members">
                <div class="list" style="border-color:darkred;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>Fine arts <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>

         {{!-- Library board --}}
        <div class="list-div" data-title="Library board About">
            <a href="/admin/nsa/library-about">
                <div class="list" style="border-color:chartreuse;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>Library board <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="Library board Members">
            <a href="/admin/nsa/library-members">
                <div class="list" style="border-color:chartreuse;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>Library board <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>

        {{!-- Literary wing --}}
        <div class="list-div" data-title="Literary wing About">
            <a href="/admin/nsa/literary-about">
                <div class="list" style="border-color:crimson;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>Literary wing <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="Literary wing Members">
            <a href="/admin/nsa/literary-members">
                <div class="list" style="border-color:crimson;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>Literary wing <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>

        {{!-- Social affairs --}}
        <div class="list-div" data-title="Social affairs About">
            <a href="/admin/nsa/sab-about">
                <div class="list" style="border-color:teal;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>Social affairs <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="Social affairs Members">
            <a href="/admin/nsa/sab-members">
                <div class="list" style="border-color:teal;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>Social affairs <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>

        {{!-- Mediacal board --}}
        <div class="list-div" data-title="Mediacal board About">
            <a href="/admin/nsa/medical-about">
                <div class="list" style="border-color:tomato;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>Mediacal board <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="Mediacal board Members">
            <a href="/admin/nsa/medical-members">
                <div class="list" style="border-color:tomato;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>Mediacal board <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>

          {{!-- PRO & IT nob --}}
        <div class="list-div" data-title="PRO & IT nob About">
            <a href="/admin/nsa/pro-it-about">
                <div class="list" style="border-color:darkmagenta;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>PRO & IT nob <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="PRO & IT nob Members">
            <a href="/admin/nsa/pro-it-members">
                <div class="list" style="border-color:darkmagenta;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>PRO & IT nob <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>

        {{!-- Research cell --}}
        <div class="list-div" data-title="Reserch cell About">
            <a href="/admin/nsa/research-about">
                <div class="list" style="border-color:turquoise;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>Research cell <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="Reserch cell Members">
            <a href="/admin/nsa/research-members">
                <div class="list" style="border-color:turquoise;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>Research cell <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>

       

        {{!-- Garden committee --}}
        <div class="list-div" data-title="Garden committee About">
            <a href="/admin/nsa/garden-about">
                <div class="list" style="border-color:brown;">
                    <div class="icon">
                        <i class="bi bi-text-paragraph"></i>
                    </div>
                    <div class="title">
                        <h5>Garden  <b>A</b></h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-div" data-title="Garden committee Members">
            <a href="/admin/nsa/garden-members">
                <div class="list" style="border-color:brown;">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="title">
                        <h5>Garden  <b>M</b></h5>
                    </div>
                </div>
            </a>
        </div>

       

        
       
        

    </div>
</section>

